<div class="col-md-8 offset-md-1">
  <h2>商品詳細</h2>
  <table class="table">
    <thead>
      <tr>
        <th>商品イメージ</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>
          税込価格<br />
          (税抜価格)
        </th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @item.image if @item.image.attached? %></td>
        <td><%= @item.name %></td>
        <td><%= @item.introduction %></td>
        <td><%= number_to_currency(@item.price, strip_insignificant_zeros: true) %></td>
      </tr>
      <tr>
        <th><%= link_to '編集する',edit_admin_item_path(@item.id), class: "btn btn-success" %></th>
      </tr>
    </tbody>
  </table>
</div>