<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <p class="h3 py-4">
        ようこそ、ながのCAKEへ!</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが</br>
        購入には会員登録が必要になります。
      </p>
      <p class="h4">新着商品</p>
      <div class="recommend-container">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
            <%= image_tag item.image %>
          <% end %>
          <p><%= item.name %></p>
          <p>¥<%= number_to_currency(item.price, strip_insignificant_zeros: true) %></p>
        <% end %>
      </div>
      <div class="recommend-more"><%= link_to "全ての商品を見る>>", items_path %></div>
    </div>
  </div>
</div>