<div class="col-md-8 offset-md-1">
  <h2>注文履歴一覧</h2>
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(item.customer.id) do %>
              <%= item_oreder.datetime %>
            <% end %>
          </td>
          <td><%= customer_firtst_name %><%= customer_last_name %></td>
          <td>
            <%= item.amount %>
          </td>
        </tr>
      <% end %>
    </thead>
  </table>
  <%= paginate @orders %>
</div>