<div class="col-md-7 offset-md-1">
  <h2>注文履歴詳細</h2>
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>支払方法</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <% @items.each do |item| %>
      <tr>
        <td><%= @item_oreder.datetime %></td>
        <td>
          <%= @custmer.postal_code %></br>
          <%= @custmer.address %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-3 offset-md-1">
  <h2>請求情報</h2>
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>商品合計</th>
        <th>配送料</th>
        <th>ご請求額</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <% @items.each do |item| %>
      <tr>
        <td><%= cart_item.total_payment %></td>
        <td><%= postage %></td>
        <td><%= customer.total_payment %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-md-8 offset-md-1">
  <h2>注文内容</h2>
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <% @items.each do |item| %>
      <tr>
        <td><%= @item.neme %></td>
        <td><%= @item.price %></td>
        <td><%= @item.quantity %></td>
        <td><%= @item.total_payment %></td>
      </tr>
    <% end %>
  </table>
</div>