<div class="col-md-8 offset-md-1">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.get_profile_image(100,100) %>
        </td>
        <td><%= @item.name %></td>
        <td><%= @item.introduction %></td>
        <td><%= @item.price %></td>
        <%= form_with model: @item do |f| %>
          <%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択して下さい" %>
          <%= f.submit 'カートに入れる', class:'btn btn-secondary' %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>