<div class="col-md-8 offset-md-1">
  <tbody>
    <tr>
      <td>
        <%= image_tag @item.image %>
      </td>
      <div class="h4 py-2"><%= @item.name %></div>
      <div class="h5 py-2"><%= @item.introduction %></div>
      <div class="h5 py-2"><%= @item.with_tax_price %>(税込)</div>
      <%= form_with model: @cart_item, url: '/cart_items', method: :post do |f| %>
        <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit 'カートに入れる', class:'btn btn-success' %>
      <% end %>
    </tr>
  </tbody>
</div>