<div class="col-md-8 offset-md-1">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.image %>
        </td>
        <td><%= @item.name %></td>
        <td><%= @item.introduction %></td>
        <td><%= number_to_currency(@item.price, unit: "¥", strip_insignificant_zeros: true) %></td>
        <%= form_with model: @cart_item, url: '/cart_items', method: :post do |f| %>
          <%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"]], include_blank: "個数選択" %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit 'カートに入れる', class:'btn btn-secondary' %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>